// @keyframes hideSidebar {
//     from {
//         transform: translateX(0);
//         width: var(--sidebar-width);
//     }

//     to {
//         @apply w-[3.8rem];
//         // transform: translateX(-100%);
//     }
// }

// @keyframes showSidebar {
//     from {
//         @apply w-[3.8rem];
//         // transform: translateX(-100%);
//     }

//     to {
//         transform: translateX(0);
//         width: var(--sidebar-width);
//     }
// }

.hidedSidebar {
    > aside {
        width: 3.8rem;
        flex-grow: 0;

        > nav > div:first-child {
            opacity: 0;
            transition: opacity 0.35s;
        }
    }
}

.hidedSidebar > div {
    width: 100%;
}

.showedSidebar {
    > aside {
        width: var(--sidebar-width);
    }
}

.initialSidebar > aside {
    transition: width 0.35s;
}
